<% provide :title, t("accounts.user") %>
<aside class="row-user">
  <div class="col-1"></div>
    <div class="col-3">
      <%= gravatar_for @account %>
    </div>
      <div class="col-6">
        <h1><%= @account.fullname %></h1>
        <h1><%= @account.email %></h1>
      </div>
  </aside>
